<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!--Provides conversion rules, pattern properties and common logger configurations-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--Adds a ConsoleAppender using the CONSOLE_LOG_PATTERN-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!--Adds a RollingFileAppender using the FILE_LOG_PATTERN with appropriate settings-->
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <springProperty scope="context" name="myappName" source="spring.application.name"/>

    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
    <springProperty scope="context" name="LOG_FILE" source="logging.file.name"/>

    # Console appender
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    # File appender
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/${LOG_FILE}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <append>true</append>
    </appender>

    <!--
        # Override log level for specified package
        <logger name="ir.maktab.homeserviceprovider" level="ERROR"/>
    -->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>